*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
!libs
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Ignore gradle project
.gradle
build/


# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Avoid ignoring jmockit.jar and autoitx.jar
!/testapi/libs/jmockit.jar
!/testapi/libs/autoitx.jar

# Cache of project
.gradletasknamecache

# IDEA project
*.iml

## Directory-based project format:
.idea/

## AWO test project
testawo/

## File-based project format:
*.ipr
*.iws

# IntelliJ
/out/

# mpeltonen/sbt-idea plugin
.idea_modules/